.responseBoxDiv {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.responseBoxDiv p {
  width: 100%;
  padding: 15px;
}
.hoverPointer {
  cursor: pointer;
}
.responseBoxDivLoud {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.responseBoxDivLoud p {
  width: 100%;
  padding: 15px;
  color: black !important;
}
.responseBoxDivLoud p span {
  color: black !important;
}
